<app-dynamic-table [dynamicTableConfig]="DynamicTableConfig"></app-dynamic-table>

<po-modal #poModal p-title="Inclua sua tarefa" [p-hide-close]="true">
  <po-dynamic-form
    #dynamicForm
    p-auto-focus="name"
    [p-fields]="fields"
    [p-value]="_tarefasService.formData"
  >
  </po-dynamic-form>

  <po-modal-footer [p-disabled-align]="false">
    <po-button   p-label="Fechar" (p-click)="closeModal()"> </po-button>
    @if (this._tarefasService.currentNOpc != 2){
      <po-button   p-label="Salvar" (p-click)="confirmTask()" p-kind="primary"> </po-button>
    }
  </po-modal-footer>
</po-modal>
